<table>
  	
  	<%unless @user_project_roles.nil?%>
  <% @user_project_roles.each do |upr| %>
  <tr>
  	<% unless upr.user.nil?%>
   <td><%= upr.user.name%></td>
  <td><%= upr.proj_role%></td>
  	<%end%>
   </tr>
  <% end %>
 <% end %>
</table>  
