<table>
	<tr>
	<% @user_names.each do |us| %>
  <td><%= us.name%></td>
  <%end %>
  	</tr>
  
  	<tr>
  <% @user_project_roles.each do |upr| %>
  <td><%= upr.proj_role%></td>
  <% end %>
  </tr>
</table>  
